body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

#searchInput {
    padding: 8px;
    margin-right: 10px;
}

#bookResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#cart {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}